@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('./assets/fonts/Dima.Shekaste.Font.ttf');*/
@font-face {
    font-family: vazir;
    font-style: normal;
    
    src: url(/src/assets/fonts/Vazir-Medium.ttf) format('ttf');
    src: url(/src/assets/fonts/Vazir-Light.woff) format('woff');
    src: url(/src/assets/fonts/Vazir-Light.woff2) format('woff2');
} 


    :root{
        --primary-color: #c4b5fd;
        --background-color:#ede9fe;
        --text-dark:#4c1d95;
        --text-light:#f5f3ff;
        --text-hover:#ddd6fe;
       
    }

